header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: $orange-h;
    color: $bianco;

    .banner {
        width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            list-style: none;

            li {


                a {
                    text-decoration: none;
                    color: $bianco;
                    padding: 10px;

                    &hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .logo {
        width: 15%;
        height: 15%;
    }



}